{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}

{% block content %}
    <h1>Hi {{user.username}}!</h1>
    <p>
        Hi there {{ user.username }}, this is your profile page. Here you'll
        be able to manage the lotteries you're participating in, as well as past
        games.
    </p>
    <div class="row lottery-section">
        <div class="col-lg-12 text-center">
            <h3>Ongoing Lotteries</h3>

            {% if ongoing_lotteries %}
                <ul>
                    {% for lottery in ongoing_lotteries %}
                        <li class="list-unstyled">
                            <a href="{{ path('lottery_show', { 'id': lottery.id }) }}">{{ lottery.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nothing to show here</p>
            {% endif %}
        </div>
    </div>
    <!-- /.row -->
    <div class="row lottery-section">
        <div class="col-lg-12 text-center">
            <h3>Already ended</h3>
            {% if past_lotteries %}
                <ul>
                    {% for lottery in past_lotteries %}
                        <li class="list-unstyled">
                            <a href="{{ path('lottery_show', { 'id': lottery.id }) }}">{{ lottery.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nothing to show here</p>
            {% endif %}
        </div>
    </div>

    <!-- /.row -->
    <div class="row lottery-section">
        <div class="col-lg-12 text-center">
            <h3>My prizes </h3>
            {% if my_prizes %}
                <ul>
                    {% for lottery in my_prizes %}
                        <li class="list-unstyled">
                            <a href="{{ path('lottery_show', { 'id': lottery.id }) }}">{{ lottery.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nothing to show here</p>
            {% endif %}
        </div>
    </div>

    <ul class="bottom-left-links text-right">
        <li>
            <a href="{{ path('homepage') }}">< Back to homepage</a>
        </li>
    </ul>
{% endblock content %}



