{% trans_default_domain 'FOSUserBundle' %}
{{form_start(form, {'method': 'POST', 'attr':{'class': 'register form-register'}})}}

    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email address'|trans } }) }}
    {{ form_errors(form.email) }}

    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username'|trans } }) }}
    {{ form_errors(form.username) }}

    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Password'|trans } }) }}
    {{ form_errors(form.plainPassword.first) }}

    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirm password'|trans } }) }}
    {{ form_errors(form.plainPassword.second) }}

    <div align="center" class="button-wrap">
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="action">
            {{ 'Submit'|trans }}
        </button>
    </div>
    <input type="hidden" name="_target_path" value="{{ app.request.query.get('next') }}" />
{{ form_end(form) }}

<a type="button" href="{{ path('fos_user_security_login') }}?ref_path={{ path(app.request.attributes.get('_route'),
   app.request.attributes.get('_route_params')) }}">Login</a>
